:root{
    --gray:#e9e9e9;
    --graysection:#f8f9f9;
    --aguamarina:#10c9c3;
    --seleccion:#00908b;
    --colortext:#787878;

    --menutitle:15px;

    --textsize:17px;
    --titlesize:38px;
    --subtitlesize:30px;
    --buttonTextSize:12px;
}
*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: var(--titlesize);
}
h2{
    font-size: var(--subtitlesize);
}

/* ............Inicio del header............ */
.header{
    margin: 30px 5%;
    display: flex;
    justify-content: space-between;
}
.menu>a{
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: var(--menutitle);
}
.menu>a:hover{
    color: var(--aguamarina);
}

/* ............Inicio del main............ */
.main{
    background-color: var(--aguamarina);
    background-image: url("../images/fondo_home.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -1;
    top: 0;
}
.main_title{
    font-size: var(--titlesize);
    font-weight: bold;
    margin: 10px 0px;
}
.main_description{
    font-size: var(--textsize);
    color: var(--colortext);
    margin: 0px 0px 5px 0px;
}
.main_content{
    height: 300px;
    margin: 250px 10% 0px 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
}
.main_button{
    width: 150px;  
    background-color: var(--aguamarina);
    color: white;
    border: 0;
    font-size: var(--buttonTextSize);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
.main_button:hover{
    background-color: var(--seleccion);
}

/* ............Inicio del about............ */
.about{
    margin: 90vh 50px 70px 50px;
    text-align: center;
    padding-top: 20px;
}
.about_container{
    padding: 20px 20%;
}
.about_title{
    font-size: var(--subtitlesize);
}
.about_description, p{
    font-size: var(--textsize);
    color: var(--colortext);
}

/* ............Inicio del skill............ */
.skills{
    background-color: var(--graysection);
}
.skills_content{
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}
.skills_title{
    font-weight: bold;
    font-size: var(--titlesize);
}
.skills_personalskills{
    padding: 100px;
}
.skills_porcentage{
    margin: 30px 0;
    font-size: var(--textsize);
    font-weight: bold;
}
.skills_porcentage > span{
    margin: 40px;
}
.skills_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ............Inicio del skill............ */
.review{
    background-color: var(--aguamarina);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review_content{
    display: flex;
    margin: 90px 70px;
    align-items: center;
}
.review_content-feedback{
    padding-left: 20px;
    color: white;
}
.review_content-feedback>p{
    color: white;
    margin-top: 8px;
    text-transform: uppercase;
    font-size: var(--textsize);
}
.review_content-title{
    letter-spacing: 2px;
    text-transform: uppercase;
}
.review_img{
    width: 44px;
    height: 42px;
}

/* ............Inicio del projects............ */
.projects{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    grid-row-gap:0px;
}
.projects_content{
    margin: -2px 0px;
}
.projects_content-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ............Inicio del load............ */
.load{
    background-color: var(--graysection);
    font-size: var(--subtitlesize);
    font-weight: bolder;
    text-transform: uppercase;
    white-space: 5px;
    padding: 45px;
    text-align: center;
    margin: 0;
}

/* ............Inicio del process............ */
.process{
    margin: 40px;
    padding: 60px;
    text-align: center;
}
.process_content{
    padding: 40px 25%;
}
.process_img{
    width: 80%;
}

/* ............Inicio del abilities............ */
.abilities{
    background-color: var(--graysection);
    padding: 100px 90px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 30px;
}
.abilities_content{
    text-align: center;
}
.abilities_content--img{
    margin: auto;
    text-align: center;
}
.abilities_content > img{
    width: 50px;
    color: var(--colortext);
    object-fit: cover;
}
.abilities_content-text{
    padding: 0px 20px;
}
.abilities_content-title{
    font-size: var(--textsize);
    text-transform: uppercase;
    font-weight: bolder;
    white-space: 6px;
}
.abilities_content-description{
    font-size: var(--textsize);
}


@media (max-width: 1240px){
    .main{
        background-size: auto;
    }
    .main_content{
        margin: 200px 10% 0px 50%;
    }
    /* ............Inicio del skill............ */
    .projects{
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main_content{
        background-color: #78787833;
        margin: 200px 10% 0px 50%;
        height: 350px;
    }
}

@media (max-width: 768px) {
    .header{
        display: block;
    }
    .main_content{
        background-color: #787878BF;
        margin: 150px 0px;
        display: flex;
        align-items: flex-end;
    }
    .main_content>p, .main_content>h1{
        color: white;
    }
    .menu{
        background-color: var(--colortext);
        display: flex;
        flex-direction: column;
        /* visibility: hidden; */
        display: none;
    }
    .menu>a {
        margin: 0;
        padding: 20px;
    }
    .header_logo:active + .menu{
        display: flex;
    }

/* ............Inicio del skill............ */
    .skills_content{
        display: block;
    }
    .skills_personalskills{
        padding: 30px;
    }
    .skills_ux > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .skills_img img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
    /* ............Inicio del review............ */
    .review{
        display: block;
        padding: 2px;
        padding-left: 15%;
    }

    /* ............Inicio del process............ */
    .process{
        margin: auto;
        padding: 10px;
    }
    .process_content{
        padding: 40px 5%;
    }
    .process_img{
        width: 100%;
    }

    /* ............Inicio del abilities............ */
    .abilities{
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    }
}

@media (max-width: 494px) {
    .abilities{
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
    }
}